*.netrwhist
*.sw[p,o]
*.uuid
*.zsh_history
*.zsh_sessions
*.zcompdump
*.zwc
karabiner/.config/karabiner/automatic_backups
nvim/.config/nvim/plugin/fb.vim
nvim/.config/nvim/after
zsh/.config/zsh/fb.zsh
zsh/.local/share/zsh/antigen
