{
    :devices {
        :apple [{:vendor_id 1452}]
    }
    :simlayers {
        :symbols_left   {:key :j}
        :symbols_right  {:key :f}
        :direction      {:key :d}
        :numpad         {:key :c}
    }
    :main [
        {
            :des "Caps as LCtrl/Esc"
            :rules [
                [:##caps_lock :left_control nil {:alone :escape}]
            ]
        }
        {
            :des "Open Bracket as Backspace"
            :rules [
                [:##open_bracket :delete_or_backspace]
            ]
        }
        {
            :des "Quote as Return"
            :rules [
                [:##quote :return_or_enter]
            ]
        }
        {
            :des "Symbol layer (from home row pointers)"
            :rules [
                [:##q           :!S1                        :symbols_left]
                [:##w           :!S2                        :symbols_left]
                [:##e           :!S3                        :symbols_left]
                [:##r           :!S4                        :symbols_left]
                [:##t           :!S5                        :symbols_left]
                [:##a           :!Sbackslash                :symbols_left]
                [:##s           :backslash                  :symbols_left]
                [:##d           :!Sgrave_accent_and_tilde   :symbols_left]
                [:##f           :!Squote                    :symbols_left]
                [:##g           :vk_none                    :symbols_left]
                [:##right_shift :vk_none                    :symbols_left]
                [:##z           :vk_none                    :symbols_left]
                [:##x           :grave_accent_and_tilde     :symbols_left]
                [:##c           :quote                      :symbols_left]
                [:##y           :!S6                        :symbols_right]
                [:##u           :!S7                        :symbols_right]
                [:##i           :!S8                        :symbols_right]
                [:##o           :!S9                        :symbols_right]
                [:##p           :!S0                        :symbols_right]
                [:##h           :vk_none                    :symbols_right]
                [:##j           :!Shyphen                   :symbols_right]
                [:##k           :equal_sign                 :symbols_right]
                [:##l           :!Sopen_bracket             :symbols_right]
                [:##semicolon   :!Sclose_bracket            :symbols_right]
                [:##n           :vk_none                    :symbols_right]
                [:##m           :hyphen                     :symbols_right]
                [:##comma       :!Sequal_sign               :symbols_right]
                [:##period      :open_bracket               :symbols_right]
                [:##slash       :close_bracket              :symbols_right]
            ]
        }
        {
            :des "Directional layer (right side)"
            :rules [
                [:##y           :vk_none                    :direction]
                [:##u           :vk_none                    :direction]
                [:##i           :vk_none                    :direction]
                [:##o           :vk_none                    :direction]
                [:##p           :vk_none                    :direction]
                [:##h           :left_arrow                 :direction]
                [:##j           :down_arrow                 :direction]
                [:##k           :up_arrow                   :direction]
                [:##l           :right_arrow                :direction]
                [:##semicolon   :vk_none                    :direction]
                [:##n           :vk_none                    :direction]
                [:##m           :home                       :direction]
                [:##comma       :page_down                  :direction]
                [:##period      :page_up                    :direction]
                [:##slash       :end                        :direction]
              ]
        }
        {
            :des "Numpad layer (right side)"
            :rules [
                [:##y           :vk_none                    :numpad]
                [:##u           :keypad_7                   :numpad]
                [:##i           :keypad_8                   :numpad]
                [:##o           :keypad_9                   :numpad]
                [:##p           :vk_none                    :numpad]
                [:##j           :keypad_4                   :numpad]
                [:##k           :keypad_5                   :numpad]
                [:##l           :keypad_6                   :numpad]
                [:##semicolon   :keypad_0                   :numpad]
                [:##n           :vk_none                    :numpad]
                [:##m           :keypad_1                   :numpad]
                [:##comma       :keypad_2                   :numpad]
                [:##period      :keypad_3                   :numpad]
              ]
          }
        ;; Must be after layers
        {
            :des "Home row pinkies to Shift when held"
            :rules [
                [:a         :left_shift  nil {:alone :a}]
                [:semicolon :right_shift nil {:alone :o}]
            ]
        }
        ;; Must be last (before killed keys)
        {
            :des "Colemak-dh mod (with 'fat z')"
            :rules [
                [:##e           :f]
                [:##r           :p]
                [:##t           :b]
                [:##y           :j]
                [:##u           :l]
                [:##i           :u]
                [:##o           :y]
                [:##p           :semicolon]
                [:##s           :r]
                [:##d           :s]
                [:##f           :t]
                [:##h           :m]
                [:##j           :n]
                [:##k           :e]
                [:##l           :i]
                [:##semicolon   :o]
                [:##left_shift  :z]
                [:##z           :x]
                [:##x           :c]
                [:##c           :d]
                [:##b           :vk_none]
                [:##n           :k]
                [:##m           :h]
            ]
        }
        {
            :des "Kill unused keys"
            :rules [
                [:##grave_accent_and_tilde  :vk_none]
                [:##1                       :vk_none]
                [:##2                       :vk_none]
                [:##3                       :vk_none]
                [:##4                       :vk_none]
                [:##5                       :vk_none]
                [:##6                       :vk_none]
                [:##7                       :vk_none]
                [:##8                       :vk_none]
                [:##9                       :vk_none]
                [:##0                       :vk_none]
                [:##equal_sign              :vk_none]
                [:##hyphen                  :vk_none]
                [:##delete_or_backspace     :vk_none]
                [:##close_bracket           :vk_none]
                [:##backslash               :vk_none]
                [:##return_or_enter         :vk_none]
                [:##right_shift             :vk_none]
            ]
        }
    ]
}
